div.page
    div
        h2 Add a document to the database
    div.add_btn_holder
        form(enctype='multipart/form-data')
            div.form_input
                label Author:
                input.search_bar(type="text")
            div.form_input
                label Type:
                input.search_bar(type="text")
            div.form_input
                input.doc_input(type="file", accept=".xml") Upload File
            div.form_input
                button Submit
