div.page(ng-controller="MainCtrl")
    h2.title COLENSO PROJECT
    div.search_box
        input(type="text", ng-model="searchBox.searchString", ng-change="search()", placeholder="Search...");
    div
        a.doc_link(href="/viewer")
          div.doc_title(ng-repeat="t in searchData", ng-click="openDoc(t.path)")
              p2.title_string {{t.title}}
