!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Conlenso Project
    link(rel='stylesheet', href='/css/app.css')
  body(style='margin:0; height:100%')
    link(rel='stylesheet', href='/css/partial.css')
    block body