/* app css stylesheet */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:  Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
.main_page {
  height: 100%;
  background-color: green;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: darkgreen;
  color: white;
}

.header_title {
  display: flex;
  order: 0;
  font-weight: bolder;
  min-width: 10em;
  padding-right: .5em;
  padding-left: 1em;
  border-right: 3px solid green;
  color: white;
  text-align: center;
}

.header_item {
  text-align: center;
  min-width: 5em;
  border-right: 3px solid green;
  order: 0;
  color: white;
}

p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-color: lightgreen;
}